<div class="valign-wrapper" style="height: 100%;">
  <span class="valign center white-text" style="
               display: inline-block;
               border: 0px solid #FFF;
               background-color: transparent;
               padding: 15px 25px;
               margin: 0 auto;
               font-family: Cracked, sans-serif; 
               font-size: 64pt;
        ">
      {{ with .name }}{{ . }}{{ end }}
      {{ with .email }}<h5>{{ . }}</h5>{{ end }}
      {{ with .description }}
      <h2><hr></h2>
      <h5>{{ . }}</h5>
      {{ end }}
    </span>
</div>


